@import "../node_modules/bootstrap/scss/bootstrap"; 

// Global Settings

// Palette

$bg-base-r: 33;
$bg-base-g: 37;
$bg-base-b: 41;

$font-base-r: 218;
$font-base-g: 220;
$font-base-b: 224;

@function adjustedBGColor($grow){
    @return rgb($bg-base-r+$grow,$bg-base-g+$grow,$bg-base-b+$grow);
}

@function adjustedFontColor($grow){
    @return rgb($font-base-r+$grow,$font-base-g+$grow,$font-base-b+$grow);
}

// Background

.bg {
    background-color: adjustedBGColor(0);
}

.bg-darker {
    background-color: adjustedBGColor(-15)
}

.bg-darkest {
    background-color: adjustedBGColor(-30)
}

.bg-lighter {
    background-color: adjustedBGColor(15)
}

.bg-lightest {
    background-color: adjustedBGColor(30)
}

// Font
/*
    font of each category is meant to be paired with a bg of the same category so font-darker goes with bg-darker.
*/

.font {
    color: adjustedFontColor(0);
}

.font-darker {
    color: adjustedFontColor(15)
}

.font-darkest {
    color: adjustedFontColor(30)
}

.font-lighter {
    color: adjustedFontColor(-15)
}

.font-lightest {
    color: adjustedFontColor(-30)
}

// Utility Classes

.vh-80 {
    height: 80vh;
}

.bg-hero {
    background-color: #000000;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,255)), url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
}

$r-radius: 2;

@mixin make-radius($scale) {
    height: $r-radius*$scale *1em;
    width: $r-radius*$scale *1em;
} 

.r-1 { 
    @include make-radius($r-radius);
}
.r-2 {
    @include make-radius($r-radius*2);
}
.r-3 {
    @include make-radius($r-radius*3);
}
.r-4 {
    @include make-radius($r-radius*4);
}

.z-3 {
    z-index: 30;
}

.z-2 {
    z-index: 20;
}

.z-1 {
    z-index: 10;
}

.z-0 {
    z-index: 0;
}
.z-m1{
    z-index: -10;
}

.z-m2{
    z-index: -20;
}

.z-m3{
    z-index: -30;
}

.clip-up-1 {
    margin-top: -1em;
}

.clip-up-2 {
    margin-top: -2em;
}

.clip-up-3 {
    margin-top: -3em;
}

.clip-up-4 {
    margin-top: -4em;
}

.clip-up-5 {
    margin-top: -5em;
}

.clip-down-1 {
    margin-top: 1em;
}

.clip-down-2 {
    margin-top: 2em;
}

.clip-down-3 {
    margin-top: 3em;
}

.clip-down-4 {
    margin-top: 4em;
}

.clip-down-5 {
    margin-top: 5em;
}

.clip-left-1 {
    margin-left: -1em;
}

.clip-left-2 {
    margin-left: -2em;
}

.clip-left-3 {
    margin-left: -3em;
}

.clip-left-4 {
    margin-left: -4em;
}

.clip-left-5 {
    margin-left: -5em;
}


.clip-right-1 {
    margin-left: 1em;
}

.clip-right-2 {
    margin-left: 2em;
}

.clip-right-3 {
    margin-left: 3em;
}

.clip-right-4 {
    margin-left: 4em;
}

.clip-right-5 {
    margin-left: 5em;
}

// Hover Container

.hc {
    transition: transform 200ms ease-in-out;
}

.hc:hover {
    transform: translate(0,-20px);
    background-image: linear-gradient( rgba(255, 255, 255, 0.1), rgb(255, 255, 255,0.1));
}

// Objects

.gear-0 {
    transform: rotate(0);
}

.gear-45 {
    transform: rotate(45deg);
}

.gear-0, .gear-45 {
    background-image: url("../img/gear.svg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.heading-button {
    background-color: #6A8A35;
    color: white;
    border-radius: 5px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.ps-inline-link {
    color: #9da2ff;
    text-decoration: none;
}

// Bootstrap

.accordion-button:not(.collapsed) {
    color: adjustedFontColor(0);
    background-color: adjustedBGColor(0);
}

h1, h2, h3, h4, h5 {
    font-family: 'Nova Square', Georgia, Helvetica, Arial;
}

p {
    font-family: 'Comic Neue', sans-serif;
}